<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/guillene/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="guillene" />
            <add key="ClearTextPassword" value="b4476b0ed51ece688acea28ddf7fe0a1661fdf92" />
        </github>
    </packageSourceCredentials>
</configuration>